@import url('https://fonts.googleapis.com/css?family=Sacramento');

.blur {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/95/6457fb584a65c01.jpg");
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 100%;
}

.winning-container {
  display: flex;
  flex-direction: column;
}

.matchImg {
  border-radius: 50%;
  width: 65%;
  border: solid 5px black;
  animation-name: swoop;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  z-index: 1;
}

@keyframes swoop {
    0% {margin-left: -1000px;}
    50% {margin-left: 100px;}
    75% {margin-left: 50px;}
    100% {margin-left: 100px;}
}

#match-style {
  font-size: 60px;
  font-family: "Sacramento";
  color: white;
}

h3 {
  font-size: 20px;
}

.container {
  display: none;
}
