@import url('https://fonts.googleapis.com/css?family=Sacramento');

.blur {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/99/95/6457fb584a65c01.jpg");
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 100%;
}

.winning-container {
  display: flex;
  flex-direction: column;
}

.matchImg {
  border-radius: 50%;
  width: 65%;
}

#match-style {
  font-size: 90px;
  font-family: "Sacramento";
  color: white;
}

h3 {
  font-size: 30px;
}

.container {
  display: none;
}
