@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import url('https://fonts.googleapis.com/css?family=Satisfy');

body, html {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 5px 0;
  color: #1F181D;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 10px 0 20px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
}

button {
  background: transparent;
  border: none;
}

.bold-text {
  font-weight: 700;
}

#root {
  display: block;
}

.App {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Satisfy {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  line-height: 52px;
}

.white {
  color: #fff;
  margin-top: 20px;
}

.bold-white {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
}

.no-margin {
  margin-top: 0;
}

h5.logo {
  font-family: 'Satisfy', cursive;
  font-size: 10vw;
  margin: 0;
  color: #dd2a30;
}

.logo-image {
  width: 10%;
  height: 10%;
  margin-right: 20px;
}

.header-container {
  margin: 0;
  width: 100%;
  height: 8%;
  background-color: #271d24;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2e2e2ef0;
  padding: 40px;
}

.modal {
  background: #fff;
  border-radius: 5px;
  max-width: 80%;
  min-height: 70%;
  margin: 0 auto;
  padding: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /*padding: 0px 20px 0 20px;*/
  text-align: center;
  box-sizing: border-box;
}

.extramargin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.questionContainer {
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
  /*height: 90%;*/
  padding: 0 20px 10px 20px;
  background: #ffffff;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.13);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-container {
  box-sizing: border-box;
  border-radius: 5px;
  width: 90%;
  /*height: 65%;*/
  padding: 40px 20px 20px 20px;
  background: #ffffff;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.13);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  text-align: center;
}

.winning-container {
  box-sizing: border-box;
  border-radius: 5px;
  width: 70%;
  /*height: 65%;*/
  padding: 5px 20px 20px 20px;
  background: #ffffff;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.13);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.noflex-container {
  display: block;
}

.navigation {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  /*background: #ffffff;*/
  /*padding: 0 40px 0 40px;*/
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  border-radius: 46px;
  padding: 10px 14px 10px 14px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  background: #dd2a30;
  border: 1px solid #dd2a30;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
}

.status-btn {
  border-radius: 46px;
  padding: 10px 14px 10px 14px;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
  background: #d9d5d8;
  border: 1px solid #d9d5d8;
  margin-top: 20px;
  cursor: pointer;
  color: #000;
}

.fa {
  font-size: 30px !important;
}

.fa-info-circle {
  font-size: 18px !important;
  color: #dd2a30 !important;
}

.fa-heart {
  font-size: 26px !important;
  padding-top: 4px;
  color: #059f5d;
}

.fa-star {
  font-size: 28px !important;
  padding-top: 1px;
  color: #0078BD;
}

.fa-star::before:disabled {
  font-size: 28px !important;
  padding-top: 1px;
  color: #f1efec;
}

.fa-times {
  font-size: 30px !important;
  padding-bottom: 2px;
  color: #dd2a30;
}

.fa-times-circle {
  position: fixed;
  right: 50px;
  top: 50px;
  color: #000;
  font-size: 20px !important;
}

.round-btn {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.13);
}

.round-btn:disabled {
  background: lightgrey;
}

.info-btn {
  margin-top: 10px;
  /*align-self: flex-start;*/
}

p.info-text {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin: 0 0 10px 0;
  padding: 0;
  color: #000;
}

@media screen and (max-width: 780px) and (min-width: 426px) {
  .fa-times-circle {
    right: 90px;
  }

  h5.logo {
    font-size: 5vw;
  }

  .logo-image {
    width: 6%;
    height: 6%;
  }

  .header-container {
    width: 100%;
    height: 3%;
  }
}

@media screen and (max-width: 970px) and (min-width: 781px) {
  .fa-times-circle {
    right: 110px;
  }

  h5.logo {
    font-size: 5vw;
  }

  .logo-image {
    width: 5%;
    height: 5%;
  }

  .header-container {
    width: 100%;
    height: 8%;
  }
}

@media screen and (min-width: 971px) {
  .fa-times-circle {
    right: 140px;
  }

  h5.logo {
    font-size: 5vw;
  }

  .logo-image {
    width: 5%;
    height: 5%;
  }

  .header-container {
    width: 100%;
    height: 8%;
  }
}
